<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="CS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=c:\users\pc\documents\visual studio 2015\Projects\GESTOCKTIPAM\DAL\stockdb.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GESTOCKTIPAM.GUI.Properties.Settings.stockdbConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\PC\documents\visual studio 2015\Projects\GESTOCKTIPAM\DAL\stockdb.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>